body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
}
.nav-icon {
  width: 90px;
  height: 90px;
  vertical-align: middle;
  margin-right: 6px;
  border-radius: 50px;
}
h1 {
    text-align: center;
    background-image: url('food.jpg'); /* Use your image path */
    background-size: cover;
    background-position: center;
     color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em; /* Optional: make the heading larger */
    padding: 10
    px 0; /* Optional: add space around the text */
}

.nav-container {
    background-image: url('food.jpg');
    background-size: cover;
    background-position: center;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

.nav-container a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    font-family: fantasy;
    font-size: 20px;
}

.nav-container a:hover {
    background-color: #359804;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    overflow-y: auto; /* Enables scrolling ONLY inside the container */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #175725;
}

#results {
    margin-top: 20px;
    overflow-y: auto; /* Ensures only results scroll */

}
.recipe-grid {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap correctly */
    gap: 20px;
    justify-content: center;
}

.recipe {
    width: calc(50% - 10px); /* Ensures two recipes per row */
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
}



.recipe-img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 10px;

}

hr {
    width: 100%;
    border: 0.5px solid #ccc;
}
input, textarea {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}
@media screen and (max-width: 600px) {
 
    .nav-icon {
  width: 30px;
  height: 30px;
}
    .nav-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height:100%;
    }
    .nav-container a {
        margin: 10px 0;
    font-size: 12px;
    padding: 0px 1px;
    }
}
